{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">

        <h1>Category</h1>
        {{ category.id }} - {{ category.title }}

        <h1>Update ✅</h1>

        <br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a href="{{ path('remove_category', {'id': category.id}) }}">Remove</a>

    </div>
{% endblock %}