{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">

        <h1>Video</h1>
        {{ video.id }} - {{ video.title }}

        <h1>Update ✅</h1>

        <br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <a href="{{ path('remove_video', {'id': video.id}) }}">Remove</a>

    </div>
{% endblock %}